.footer .container .logo {
  width: 153px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 60px;
  margin-bottom: 20px;
}

.logo .web {
  color: $accent-color;
}

.logo .studio-white {
  color: $accent-white-color;
}
