.nav-box {
  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.site-nav {
  margin-left: 68px;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
  }

  .item {
    &:not(:last-child) {
      margin-right: 50px;
    }

    a {
      color: $title-text-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      display: block;

      transition-property: background-color, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}

.site-nav {
  display: flex;

  .item:not(:last-child) {
    margin-right: 50px;
  }

  a {
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .link {
    color: $accent-color;

    &::after {
      content: " ";
      display: block;
      width: inherit;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      margin-top: 28px;
    }
  }
}
