@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .address-box {
    display: none;
  }

  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;

    .icon-cross {
      display: none;
    }

    &.is-open .icon-cross {
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
