.work .subtitle {
  margin-top: -94px;

  margin-bottom: 50px;
}

.work .signature {
  background-color: rgba(47, 48, 58, 0.8);
  color: $accent-white-color;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
}

.work .title {
  position: relative;
}

.work .subject {
  display: flex;
  width: calc((100%-120px) / 3);
}

.work .title:not(:last-child) {
  margin-right: 30px;
}
